@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Cinzel:wght@400;500&family=Urbanist:wght@300;400&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  color-scheme: dark;
  --clr-0: #000;
  --clr-1: #121212;
  --clr0: #fff;
  --clr1: #dedede;
  --clr2: #3f37c9;
  --clr3: #4895ef;
  --clr4: #4cc9f0;
  --fontH: "Cinzel", serif;
  --fontP: "Urbanist", sans-serif;
  --fontNum: "Major Mono Display", monospace;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
}
@keyframes width {
  0% {
    width: 0;
  }
}
@keyframes search-loader {
  0% {
    background-position: 0% 100%, 50% 100%, 100% 100%;
  }
  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%;
  }
}
.background {
  position: fixed;
  z-index: -9999;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(25%);
}
.background h1 {
  font: 500 calc(3vw + 2.5vh) var(--fontH);
}

form {
  overflow: visible;
  position: fixed;
  z-index: 1;
  margin: calc(1vw + 1.5vh);
  border-radius: calc(0.1vw + 0.15vh);
  background-color: rgba(18, 18, 18, 0.6);
  box-shadow: 0 0 1px 1px var(--clr3);
  opacity: 0.25;
  transition: 0.2s linear;
  display: flex;
}
form:hover input {
  width: calc(8vw + 20vh);
}
form:focus-within {
  opacity: 1;
}
form .search__icon {
  width: calc(1vw + 2.5vh);
  height: calc(1vw + 2.5vh);
  border-right: 1px solid var(--clr3);
  display: flex;
  align-items: center;
  justify-content: center;
}
form .search__icon svg {
  width: calc(0.75vw + 1vh);
  height: calc(0.75vw + 1vh);
  fill: var(--clr4);
  filter: drop-shadow(0 0 2px var(--clr2));
}
form input {
  outline: none;
  border: none;
  width: calc(6vw + 15vh);
  height: calc(1vw + 2.5vh);
  padding: 0 0 0 calc(0.2vw + 1vh);
  background: transparent;
  font: 300 calc(0.5vw + 1.3vh) var(--fontP);
  letter-spacing: calc(0.15vw + 0.15vh);
  color: var(--clr4);
  text-shadow: 0 0 2px var(--clr2);
  transition: 0.3s linear;
}
form input:focus {
  width: calc(8vw + 20vh);
}
form .search__loader {
  position: absolute;
  right: 0;
  width: calc(1vw + 2.5vh);
  height: calc(1vw + 2.5vh);
  background: linear-gradient(rgba(0, 0, 0, 0) 16.6666666667%, var(--clr4) 0 50%, rgba(0, 0, 0, 0) 0), linear-gradient(rgba(0, 0, 0, 0) 33.3333333333%, var(--clr4) 0 66.6666666667%, rgba(0, 0, 0, 0) 0), linear-gradient(rgba(0, 0, 0, 0) 50%, var(--clr4) 0 83.3333333333%, rgba(0, 0, 0, 0) 0);
  background-size: calc((1vw + 2.5vh) / 5) 600%;
  background-repeat: no-repeat;
  animation: search-loader 1s infinite linear;
}

* {
  overflow-x: hidden;
}

.thumbnail__wrapper {
  overflow-x: visible;
  position: absolute;
  z-index: 0;
  margin: 5vh 0;
  transition: 1.5s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 9vh;
}
.thumbnail__wrapper .thumbnail__poster {
  overflow: visible;
  width: calc(9vw + 9vh);
  height: calc(12vw + 12vh);
  box-sizing: border-box;
  box-shadow: inset 0 calc(0.4vw + 0.4vh) calc(1.5vw + 1.5vh) calc(0.8vw + 0.8vh) var(--clr-1), 0 0 calc(1vw + 1vh) 3px var(--clr-0);
  filter: brightness(70%) grayscale(50%);
  font: 300 calc(0.5vw + 1vh) var(--fontP);
  color: var(--clr1);
  text-align: center;
  transition: 1s ease-out, transform 0.8s ease-out;
  cursor: pointer;
}
.thumbnail__wrapper .thumbnail__poster:hover {
  filter: none;
  transform: scale(1.015);
}
.thumbnail__wrapper .thumbnail__poster .thumbnail__vote {
  position: absolute;
  left: calc(-0.35vw - 0.35vh);
  bottom: calc(-0.35vw - 0.35vh);
  width: calc(1.5vw + 1.5vh);
  height: calc(1.5vw + 1.5vh);
  border-radius: 50%;
  border: 3px solid var(--clr4);
  box-shadow: 0 0 2px var(--clr-0), inset 0 0 2px var(--clr-0);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transition: 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie__wrapper {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  color: var(--clr1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie__wrapper .movie-grid-container {
  overflow: visible;
  display: grid;
  padding: calc(1vw + 1vh);
  border-radius: calc(1vw + 1vh);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "title title" "date-vote plot" "data plot" "more plot";
}
.movie__wrapper .movie-grid-container .movie__title {
  grid-area: title;
  display: block;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  font: 500 calc(3vw + 2.5vh) var(--fontH);
  letter-spacing: calc(0.1vw + 0.1vh);
}
.movie__wrapper .movie-grid-container .date-vote__wrapper {
  grid-area: date-vote;
  display: flex;
  overflow-x: visible;
}
.movie__wrapper .movie-grid-container .date-vote__wrapper .movie__date {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font: calc(2vw + 1.5vh) var(--fontNum);
  white-space: nowrap;
  justify-self: start;
  align-self: center;
}
.movie__wrapper .movie-grid-container .date-vote__wrapper .movie__vote {
  display: block;
  width: -moz-max-content;
  width: max-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 0 0 2vw;
  font: 300 calc(0.6vw + 1vh) var(--fontP);
  justify-self: start;
  align-self: center;
}
.movie__wrapper .movie-grid-container .movie-data__wrapper {
  grid-area: data;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  letter-spacing: calc(0.05vw + 0.05vh);
  display: grid;
  justify-self: start;
  align-self: center;
  grid-template-columns: auto auto;
  gap: 1vw 3vw;
}
.movie__wrapper .movie-grid-container .movie-data__wrapper .movie-data {
  font: 300 calc(0.7vw + 1.2vh) var(--fontP);
  word-wrap: break-word;
}
.movie__wrapper .movie-grid-container .movie-data__wrapper .movie-prop {
  font-weight: 400;
  font-size: calc(0.8vw + 1.3vh);
}
.movie__wrapper .movie-grid-container .movie__plot {
  grid-area: plot;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font: 300 calc(0.7vw + 1.2vh) var(--fontP);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  justify-self: center;
  align-self: center;
}
.movie__wrapper .movie-grid-container .movie__plot .movie-prop {
  font-weight: 400;
  font-size: calc(0.8vw + 1.3vh);
}
.movie__wrapper .movie-grid-container .movie__plot p {
  margin: 0 0 0.5vh 0;
}
.movie__wrapper .movie-grid-container .movie__button {
  grid-area: more;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: calc(0.25vw + 0.25vh) calc(0.8vw + 0.8vh);
  border-radius: calc(0.25vw + 0.25vh);
  border: 2px solid var(--clr3);
  font: 400 calc(0.8vw + 1.2vh) var(--fontP);
  letter-spacing: calc(0.1vw + 0.1vh);
  background-color: rgba(76, 202, 240, 0.1764705882);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  cursor: pointer;
  justify-self: start;
  align-self: center;
  transition: 0.5s ease-out;
}
.movie__wrapper .movie-grid-container .movie__button:hover {
  box-shadow: 0 0 calc(5vw + 5vh) var(--clr4);
  transition: 1.5s ease-out;
}

@media (max-width: 100vw) and (max-height: 100vh) and (max-aspect-ratio: 1/1) {
  * {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .thumbnail__wrapper {
    overflow-y: visible;
    width: -moz-max-content;
    width: max-content;
    margin: 0 4vh;
    display: flex;
    flex-direction: row;
    gap: 8vw;
  }
  .movie__wrapper .movie-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title" "date-vote" "data" "plot" "more";
  }
  .movie__wrapper .movie-grid-container .movie-data__wrapper {
    overflow-x: hidden;
  }
}/*# sourceMappingURL=index.css.map */